/* Reset and basic styles */
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  background-image: url('/images/wp6289812-neon-japanese-desktop-wallpapers.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: Arial, sans-serif;

  /* Example font-family */
  margin-top: 100px;
}

.full-page-image {
  display: none;
}

.me {
  width: 250px;

  /* Adjust the width as needed */
  height: 150px;

  /* Adjust the height as needed */
  object-fit: cover;

  /* Maintain aspect ratio and cover the entire frame */
}

/* General styles for sections */
.about-me,
.content,
.projects {
  position: relative;
  z-index: 1;
  padding: 20px;
  color: black;
  background-color: rgba(204, 204, 204, 0.9);
  border: 2px solid white;
  border-radius: 10px;
  max-width: 800px;
  margin: 20px auto 40px;

  /* Adjusted margin-bottom to 40px */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.about-me .h1tag {
  width: 100%;
  margin-bottom: 10px;
  text-align: center;

  /* Center align the content */
}

.about-me .content-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.about-me p {
  margin-right: 20px;
}

.about-me img {
  max-width: 300px;
  height: auto;
}

.about-me .h1tag h1 {
  margin: 0;
}

.about-me a,
.content a,
.projects a {
  color: #1e488f;
  text-decoration: none;
}

.about-me a:hover,
.content a:hover,
.projects a:hover {
  text-decoration: underline;
}

.content,
.projects {
  flex-direction: row;
  flex-wrap: wrap;
}

.content p,
.projects p {
  margin: 10px;
  flex: 1;
}

.content h2,
.projects h2 {
  width: 100%;
  margin-bottom: 10px;
}

.contact-icon {
  width: 40px;
  height: 40px;
  object-fit: contain;
  margin-left: 10px;
  vertical-align: middle;
  transition:
    transform 0.3s ease,
    fill 0.3s ease;
  fill: black;

  /* Initial color */
}

.contact-icon:hover {
  transform: scale(1.2) translate(10%, -10%);
  fill: inherit;

  /* Color on hover */
}

.contact-icon:hover path {
  fill: inherit;

  /* Change fill to inherit on hover */
}

.project-icon {
  width: 40px;
  height: 40px;
  object-fit: contain;
  margin-left: 10px;
  vertical-align: middle;
  transition: transform 0.3s ease;
}

.project-icon:hover {
  transform: scale(1.2);
}

.parent-drawer {
  width: 250px;
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.drawer-1,
.drawer-2,
.drawer-3 {
  flex-direction: column;
}

.header1,
.header2,
.header3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.hidden {
  display: none;
}

/* Styles for chevron icons */
.about-chev-right,
.about-chev-down,
.tech-chev-right,
.tech-chev-down,
.hobby-chev-right,
.hobby-chev-down {
  cursor: pointer;

  /* Ensure pointer cursor for interaction */
  transition:
    transform 0.3s ease,
    color 0.3s ease;

  /* Smooth transition for transform and color */
  font-size: 25px;
  color: #0366d6;

  /* GitHub blue */
}

.chev-rotate {
  transition:
    transform 0.3s ease,
    color 0.3s ease;

  /* Smooth transitions for transform and color */
  transform: rotate(90deg);

  /* Rotated position */
  color: black;

  /* Black color */
}

.chev-rotate:hover {
  color: #070707;

  /* GitHub blue color on hover */
}
